
  body{
    background: url(merit_b.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
  .btn {
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }

  #toMain {
    font-family: 'designhouseOTFLight00';
    display: flex;
    margin: auto;
    margin-top: 40px;
    width: 280px;
    height: 50px;
    background-color: rgb(15, 65, 109);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: aliceblue;
    margin-bottom: 100px;
}

  
  .title{
    font-family: 'designhouseOTFLight00';
    position: relative;
    display: flex;
    margin-top: 50px;
    top: 15px;
    justify-content: center;
  }

  .pa {
    font-family: 'JGaegujaengyi-Medium-KO';
    margin-top: 50px;
  }
  .parent{
    position: relative;
    top: 10px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .parent1{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
    
  }

  .merit{
    color: rgb(13, 46, 75);
    font-family: 'JGaegujaengyi-Medium-KO';
    position: relative;
    display: flex;
    align-items: center;
    margin: 1.5rem;
    width: 315px;
    height: 220px;
    background-color: rgba(29, 146, 218, 0.7);
    border-radius: 30px;
    padding: 20px;
    text-align:center;
  }

  .clicked {
    background-color: grey;
    background-image: url(투명돌고래.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 0.01px solid white;


  }

  #btn1 {
    background-color: rgba(134, 217, 255, 0.5);
  }

  #btn2 {
    background-color: rgba(88, 204, 255, 0.5);
  }

  #btn3 {
    background-color: rgba(24, 168, 241, 0.5);
  }

  #btn4 {
    background-color: rgba(29, 146, 218, 0.5);
  }
